@import "semantic-ui";
@import "semantic-ui/collections/menu";
@import "semantic-ui/collections/grid";

.pagination {
  font-size: 12px;
  width:100%;
}

.pagination > * {
  margin-right: 0.1em;
  padding: 0.3em 0.2em;
  width: 100%;
}

.pagination a:hover {
  text-shadow: 1px 1px 1px #171717;
}

.pagination a:active {
  text-shadow: none;
}

.pagination .current {
  color: #00b5ad;
}

.pagination .disabled {
  color: #C0C0C0;
}